/* CSS Reset (Meyer) */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.container {
  text-align: center;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  color: black;
  background-color: #b5b5b6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #414142;
  color: white;
}

#colorValue {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

#color-history {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  max-height: 98vh;
  overflow-y: auto;
}

.color-entry {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px;
}

#color-history strong {
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.color-preview {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
}

.slider-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.slider-container label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider-container label span {
  display: inline-block;
  width: 20px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  #color-history {
    max-height: 25vh;
    font-size: 12px;
    padding: 6px;
  }

  .container {
    position: relative;
    top: -10vh;
  }

  .color-entry {
    margin: 4px;
  }

  .color-preview {
    width: 16px;
    height: 16px;
  }
}
